:root {        
    --navbar-height: 8em;
    --segment-border-radius: 16px;
}

#canvas {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

body {
    background-color: #121212; /* Dark gray color */
    background-image: linear-gradient(45deg, #1a1a1a 25%, transparent 25%), linear-gradient(-45deg, #1a1a1a 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #1a1a1a 75%), linear-gradient(-45deg, transparent 75%, #1a1a1a 75%);
    background-size: 20px 20px; /* Adjust the size of the pattern */
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px; /* Positioning the pattern */
    font-family: 'Roboto Condensed', sans-serif;            
    color: white;
}

.segment {
    margin: 50px;

    width: 90%;
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;    
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: var(--segment-border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

#segments-container {
    margin-top: calc(50px + var(--navbar-height));
}

h2 {
    font-weight: 700;
    letter-spacing: 5px;
    padding: 40px;
    padding-bottom: 10px;
    font-size: 3em;
    text-decoration: underline;
}

#navbar {
    height: var(--navbar-height);
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 999;

    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

#navbar-container {
    max-width: 1280px;
    height: var(--navbar-height);
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar-content {
    display: flex;
    justify-content: end;
    align-items: center;

    cursor: pointer;
}

#navbar-link-mush_lake, 
#navbar-link-at {
    font-size: 4em;
}

#navbar-link-mush_lake {  
    margin-right: 0.5em;  
    text-decoration: underline;
}

#navbar-profile-pic {
    height: 9em;
    width: 9em;
    margin-top: 1em;
    border-radius: 50%;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#navbar-logos img:hover,
#navbar-profile-pic:hover {
    transform: rotate(15deg);
}

#navbar-profile-pic img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 50%; 
}

#navbar-logos {
    display: flex;
}

#navbar-logos img {
    margin-left: 1em;
    width: 5em;
    height: 5em;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.content .preview-image:hover {    
    cursor: pointer;
    border: 5px solid transparent;
    animation: fillBorder 0.5s forwards;
}

#player-modal {
    position: fixed;
    top: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    max-width: 90%;
    height: 70%;
    width: 1280px;
    
    background-color: #121212;
    border: 5px solid transparent;
    animation: fillBorder 1s forwards;
    
    display: none;
    transition: opacity 0.3s ease;
}

#player-modal-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
}

#player-modal-close svg,
#player-modal-next svg,
#player-modal-prev svg{
    width: 32px;
    height: 32px;
}

#player-modal-next, #player-modal-prev {
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    z-index: 4;
}

#player-modal-next {
    right: 10px;
}

#player-modal-prev {
    left: 10px;
}

.content:hover svg {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    z-index: 4;
    cursor: pointer;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    z-index: 1;
    display: none;
}

#video-player-modal {
    z-index: 3;
}

.modal-open {
    display: block !important;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content {
    position: relative;
    width: 30%;
    padding-top: 17%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content .preview-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fillBorder {
    0% {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    25% {
      border-top-color: rgba(0, 255, 0, 0.8);
    }
    50% {
      border-top-color: rgba(0, 255, 0, 0.8);
      border-right-color: rgba(0, 255, 0, 0.8);
    }
    75% {
      border-top-color: rgba(0, 255, 0, 0.8);
      border-right-color: rgba(0, 255, 0, 0.8);
      border-bottom-color: rgba(0, 255, 0, 0.8);
    }
    100% {
      border-top-color: rgba(0, 255, 0, 0.8);
      border-right-color: rgba(0, 255, 0, 0.8);
      border-bottom-color: rgba(0, 255, 0, 0.8);
      border-left-color: rgba(0, 255, 0, 0.8);
    }
}

@media only screen and (max-width: 991px) {
    .content {
        width: 100%;        
        padding-top: 56.25%;
    }

    .container {
        display: block;
    }
}